@use "../../../styles/mixins" as *;

.overlay {
    align-items: center;

    // デフォルトで画面中央に配置
    display: flex;
    justify-content: center;
    @include modalOverlay;
}

.modalContent {

    outline: none;
    // 子要素や外部クラス (contentClassName) でスタイルを拡張できるようにします
}