@use "../../../styles/mixins" as *;

.overlay {
    @include modalOverlay;
    
    // デフォルトで画面中央に配置
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    // 基本のリセット
    display: block;
    outline: none;
    // 子要素や外部クラス (contentClassName) でスタイルを拡張できるようにします
}
