    @use "./functions" as *; // rem関数を使えるようにする

    //@mixinで変数のように使える。使うときはこのsccsをimportして@include

    //多く使うドットパターン背景
    @mixin main-background {
        background-image: var(--bg-main);
        background-position: center, center;
        background-size: rem(26) rem(26), auto;
        height: 100%;
        position: relative;
        width: 100%;
    }

    @mixin modalOverlay {
        -webkit-backface-visibility: hidden;
        align-items: center;
        backdrop-filter: blur(6px);
        backface-visibility: hidden;
        background: rgba(#050505, .4);
        bottom: 0;
        display: flex;
        justify-content: center;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        transform: translate3d(0, 0, 0);

        /* チラつき（フラッシュ）防止用の設定を追加 */
        will-change: opacity, backdrop-filter;
        z-index: 1000;
    }