@use "../../../styles/functions" as *;

.categoryBtn {
  align-items: center;
  background: #fff;
  border: 2px solid var(--br-whiteWeakEdge);
  border-radius: rem(10);
  box-shadow: 0 rem(4) rem(12) rgba(#000, .02);
  cursor: pointer;
  display: flex;
  height: rem(80);
  overflow: hidden;
  padding: 0;
  transition: transform .15s ease, box-shadow .15s ease, background-color .2s ease, border-color .2s ease, margin-left .2s ease, width .2s ease;
  width: 100%;

  &:active {
    transform: translateY(0);
  }

  &.active {
    box-shadow: 0 rem(8) rem(24) rgba(#000, .08);
    height: rem(84);
    margin-left: rem(-16);
    width: calc(100% + #{rem(16)});

    .colorIndicator {
      background-color: rgba(var(--tx-primary-rgb), .10) !important;
      width: rem(56);
    }
  }

  .categoryLabel {
    box-sizing: content-box;
    color: rgba(var(--tx-primary-rgb), .85);
    font-family: var(--font-button);
    font-size: rem(28);
    font-weight: 600;
    margin-left: rem(24);
    transition: color .1s ease;
  }

  .colorIndicator {
    border-right: 2px solid #00000008;
    flex-shrink: 0;
    height: 100%;
    transition: background-color .2s ease, width .2s ease;
    width: rem(60);
  }

  // Themes setup
  &.amber {
    .colorIndicator {
      background-color: var(--theme-amber);
    }

    &.active {
      background-color: var(--theme-amber);
      border-color: transparent;

      .categoryLabel {
        color: #fff;
      }
    }
  }

  &.olive {
    .colorIndicator {
      background-color: var(--theme-olive);
    }

    &.active {
      background-color: var(--theme-olive);
      border-color: transparent;

      .categoryLabel {
        color: #fff;
      }
    }
  }

  &.terracotta {
    .colorIndicator {
      background-color: var(--theme-terracotta);
    }

    &.active {
      background-color: var(--theme-terracotta);
      border-color: transparent;

      .categoryLabel {
        color: #fff;
      }
    }
  }

  &.cinnamon {
    .colorIndicator {
      background-color: var(--theme-cinnamon);
    }

    &.active {
      background-color: var(--theme-cinnamon);
      border-color: transparent;

      .categoryLabel {
        color: #fff;
      }
    }
  }

  &.sangria {
    .colorIndicator {
      background-color: var(--theme-sangria);
    }

    &.active {
      background-color: var(--theme-sangria);
      border-color: transparent;

      .categoryLabel {
        color: #fff;
      }
    }
  }
}