@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Miriam+Libre:wght@400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap');

:root {
  /*背景ドットの大きさ調整*/
  --bg-dot-size: clamp(1px, 0.18dvh, 2.5px);

  /**色**/
  /*background*/
  --bg-root: #050505;
  --bg-base: linear-gradient(#ECF2EF 80%, #E6E6E0);
  --bg-pattern: #80808033;
  --bg-main: radial-gradient(circle, var(--bg-pattern) var(--bg-dot-size), transparent var(--bg-dot-size)), var(--bg-base);
  --bg-card: #E6E6E0;
  --bg-sideBar: #ECF2EF;
  --bg-buttonCTA: linear-gradient(#FF8B07 0%, #F9B339);
  --bg-buttonSecond: linear-gradient(#FFFFFF14 0%, #E8E5DE14);
  --bg-buttonThird: linear-gradient(#F9F9F93C 0%, #E8E5DE3C);
  /*border*/
  --br-buttonCTA: linear-gradient(#FAB137 0%, #FF8E0A);
  --br-whiteEdge: #D1D2CB;
  --br-whiteWeakEdge: #E4E4E4;
  /*text*/
  --tx-primary: #36382C;
  --tx-primary-rgb: 54, 56, 44;
  --tx-card: #313329;
  --tx-card-rgb: 49, 51, 41;
  /*theme*/
  --theme-terracotta: #ac4726;
  --theme-amber: #eba94c;
  --theme-olive: #ab9b5c;
  --theme-cinnamon: #cf7a50;
  --theme-sangria: #7e201e;

  /*フォント*/
  --font-title: "Inconsolata", serif;
  --font-japanese: "Zen Kaku Gothic New", sans-serif;
  --font-comment: "Miriam Libre", sans-serif;
  --font-main: "Mona Sans", sans-serif;
  --font-button: "Albert Sans", sans-serif;
  --font-sub: "Intel One Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--bg-root);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc((16 / 1024) * 100dvh);
  /*figmaでの設計に合わせるため(高さ1024pxで16px)*/
}

#root {
  height: 100dvh;
  aspect-ratio: 1516 / 1024;
  max-width: 100vw;
  max-height: 100dvh;
  width: auto;
  position: relative;
}